<!-- YHacks - Vitech Challenge
Flask web application -->

{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    {{super()}}
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"> -->
{% endblock %}

{% block title %} Vitech webapp {% endblock %}

{% block navbar %}
    {{super()}}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">Vitech App</a>
        </div>
    </nav>
{% endblock %}

{% block content %}

    <div class="container">

        <div class = "col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id = "visualization"></div>
                </div>
            </div>
        </div>

    <!-- end container -->
    </div>
{% endblock %}

{% block scripts %}
    {{super()}}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>

{% endblock %}
