<!-- YHacks - Vitech Challenge
Flask web application -->

{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    {{super()}}

{% endblock %}

{% block title %} Vitech App {% endblock %}

{% block navbar %}
    {{super()}}
{% endblock %}

{% block styles %}
  {{super()}}
  <style>
  .block {
    margin: 20px auto;
    padding: 10px;
    }
    </style>
{% endblock %}

{% block content %}

    <div class="container">
        <div class = "col-lg-12 block">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row block">
                        <div class="col-lg-6">
                            <h1>Yale Hacks 2017</h1>
                        </div>
                        <div class="col-lg-6">
                            <h1>Vitech Life Insurance Quoting</h1>
                        </div>
                    </div>
                    <div class="row block">
                        <div class="col-lg-6">
                            <h3>Team Members</h3>
                        </div>
                        <div class="col-lg-6">
                            <h4>
                                Youdong Zhang<br>
                                Andrea Jackson<br>
                                Jingyi Liu<br>
                            </h4>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- end container -->
    </div>
{% endblock %}

{% block scripts %}
    {{super()}}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>

{% endblock %}
