<!-- trends.html -->

{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    {{super()}}
    <style>
    #statesvg{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .state{
        fill: none;
        stroke: #a9a9a9;
        stroke-width: 1;
    }
    .state:hover{
        fill-opacity:0.5;
    }
    #tooltip {
        position: absolute;
        text-align: center;
        padding: 20px;
        margin: 10px;
        font: 12px sans-serif;
        background: lightsteelblue;
        border: 1px;
        border-radius: 2px;
        pointer-events: none;
    }
    #tooltip h4{
        margin:0;
        font-size:14px;
    }
    #tooltip{
        background:rgba(0,0,0,0.9);
        border:1px solid grey;
        border-radius:5px;
        font-size:12px;
        width:auto;
        padding:4px;
        color:white;
        opacity:0;
    }
    #tooltip table{
        table-layout:fixed;
    }
    #tooltip tr td{
        padding:0;
        margin:0;
    }
    #tooltip tr td:nth-child(1){
        width:50px;
    }
    #tooltip tr td:nth-child(2){
        text-align:center;
    }
</style>

{% endblock %}

{% block title %} Trends {% endblock %}
{% block navbar %}
    {{super()}}
{% endblock %}

{% block styles %}
  {{super()}}
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                    <h1 class="text-center">Vitech Insurance Plan Dataset Trends</h1>
            </div>
        </div>

        <div class = "col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="tooltip"></div>
                    <div id = "USgraph" style="text-align:center"><h3>Purchased Insurance Plans across the US by Percentage</h3></div>
                    <svg width="960" height="600" id="statesvg"></svg>
                </div>
            </div>
        </div>

    <!-- end container -->
    </div>
{% endblock %}

{% block scripts %}

    <script src="{{ url_for('static', filename='js/uStates.js') }}"></script>
    <!-- D3.js -->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    {{super()}}

    <!-- Plotly.js -->
    <!-- // <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script> -->

    <!-- // <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> -->

    <script>
        function tooltipHtml(n, d){ /* function to create html content string in tooltip div. */
            return "<h4>"+n+"</h4><table>"+
                "<tr><td>Platinum</td><td>"+(d.Platinum)+"</td></tr>"+
                "<tr><td>Gold</td><td>"+(d.Gold)+"</td></tr>"+
                "<tr><td>Silver</td><td>"+(d.Silver)+"</td></tr>"+
                "<tr><td>Bronze</td><td>"+(d.Bronze)+"</td></tr>"
                "</table>";
        }


        d3.json("{{ url_for('static', filename='json/insurance_plan_by_state_data.json') }}", function(error, data) {

        ["HI", "AK", "FL", "NH", "MI", "VT", "ME", "RI", "NY", "PA", "NJ",
        "DE", "MD", "VA", "WV", "OH", "IN", "IL", "CT", "WI", "NC", "DC",
        "MA", "TN", "AR", "MO", "GA", "SC", "KY", "AL", "LA", "MS", "IA",
        "MN", "OK", "TX", "NM", "KS", "NE", "SD", "ND", "WY", "MT", "CO",
        "ID", "UT", "AZ", "NV", "OR", "WA", "CA"]
            .forEach(function(d){
                var values = []
                for (var key in data[d]){
                    values.push(data[d][key]);
                }
                max = d3.max(values);
                data[d]["color"] = d3.interpolate("#ffcccc", "#800026")(max/100); //#ffffcc
            });

        uStates.draw("#statesvg", data, tooltipHtml);
         });
        d3.select(self.frameElement).style("height", "600px");

    </script>

{% endblock %}
